<html xmlns:th="https://www.thymeleaf.org">
<head>

</head>
<body>
<header th:include="parts/header :: header"></header>

<h1>Créer une nouvelle reservation</h1>

<!--
    Formulaire relié à l'objet reservationForm
    J'utilise la méthode post qui permettra d'aller dans une nouvelle
    méthode dans mon controller (la méthode addReservation)
-->

<form th:object="${reservationForm}" method="post">

    <div class = "form-group row ">
        <div class="col-sm-8">
            <span class="text-danger" th:errors="*{global}"> </span>
        </div>
    </div>


    <!-- A ne pas oublier ! Sinon erreur forbiden -->

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <!-- Date de début de notre reservation -->
    <div>
        <label>Date de début</label>
        <input type="date" th:field="*{dateStart}"/> <br>
        <span th:if="${#fields.hasErrors('dateStart')}"  th:errors="*{dateStart}"></span>
    </div>

    <!-- Date de fin de la reservation -->

    <div>
        <label>Date de fin</label>
        <input type="date" th:field="*{dateEnd}"/> <br>
        <span th:if="${#fields.hasErrors('dateEnd')}" th:errors="*{dateEnd}"></span>
    </div>

    <div>
        <label>Remarque</label>
        <input type="text" th:field="*{remarque}"/> <br>
        <span th:if="${#fields.hasErrors('remarque')}" th:errors="*{remarque}"></span>
    </div>

    <!-- Div qui contiendra notre liste (EmplacementForm)
         Dans cette liste, nous retrouverons tous les emplacement
         que l'on souhaite reserver ET les équipements

         De base on arrive sur cette liste avec un seul élément
    -->

    <div class = "form-group row ">
        <div class="col-sm-8">
            <span class="text-danger" th:errors="*{emplacements}"> </span>
        </div>
    </div>

    <div id="collectionEquipement">

        <!--
        De base lors de la création nous aurons un seul emplacement
        Il est ajouté dans le constructeur de la classe ReservationForm
        -->
    <div class="collectionForm"  th:each="resa, state : ${reservationForm.emplacements}">

        <div style="border: 1px solid black">

            <!--
                Le numéro du parasol (il correspond à l'index de ma liste )
            -->
            <label th:text="'Parassol ' + ${state.index + 1 }"></label>

            <!--
                Je retrouve ici la file de mon emplacement
                J'ajoute dans le name l'index car on pourra avoir plusieurs emplacement par reservation
            -->

            <div>
                <label>File</label><br>
                <select  th:name="'items_'+${state.index}+'_file'">
                    <option th:each="i: ${#numbers.sequence(1, 8)}" th:selected="${resa.getFile()== i}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>

            <!--
             Sur le même principe, je vais avoir l'équipement
            -->

            <div>
                <label>Equipement</label><br>
                <select   th:name="'items_'+${state.index}+'_equipement'">
                    <option th:selected="${resa.getEquipement()=='UN_LIT'}" th:value="'UN_LIT'">Un lit</option>
                    <option th:selected="${resa.getEquipement()=='DEUX_LITS'}" th:value="'DEUX_LITS'">Deux lits</option>
                    <option th:selected="${resa.getEquipement()=='UN_FAUTEUIL'}" th:value="'UN_FAUTEUIL'">Un fauteuil de réalisateur</option>
                    <option th:selected="${resa.getEquipement()=='DEUX_FAUTEUILS'}" th:value="'DEUX_FAUTEUILS'">Deux fauteuils de réalisateur</option>
                </select>


            </div>
        </div>
    </div>

    </div>

    <!--
        J'ai ici un bouton qui permet d'ajouter un emplacement
        Plus loin dans le template en JS, lors du clic, j'irais ajouter un emplacement
    -->
    <a id="addEmplacementButton">Ajouter un emplacement</a>

    <!--
    Champs de la remarque de la reservation
    -->


    <!--
    Bouton pour soumettre mon formulaire
    -->
    <button>Soumettre !</button>
</form>

<div th:insert="parts/style_script :: script"></div>

<!--
    Action en JS qui va permettre lors du clic sur le bouton d'ajout
    d'ajouter un nouvel emplacement dans mon formulaire
-->
<script>
    // J'utilise JQUERY pour déclancher une action lors du click sur le lien
    // qui a pour id "addEmplacementButton"
    $("#addEmplacementButton").click(function(){
        // Je réccupére le nombre d'élément
        // ayant pour classe collectionForm
        // Je fais -1 car mon attribut name part de 0 et length de 1
        let index = $('.collectionForm').length - 1;

        // Je réccupére la derniere div ayant pour classe collection form
        divToCopy = $('.collectionForm').last();


        // Je réccupére la dernière div et je remplace l'index par index + 1
        newDiv = divToCopy.html().replace('name="items_'+index+'_file"', 'name="items_'+parseInt(index+1)+'_file"');
        newDiv = newDiv.replace('name="items_'+index+'_equipement"', 'name="items_'+parseInt(index+1)+'_equipement"');
        newDiv = newDiv.replace('Parassol '+parseInt(index+1), 'Parassol '+parseInt(index+2));

        // J'ajoute une nouvelle div qui contient le nouvel emplacement
        newDiv = '<div class="collectionForm">'+newDiv+'</div>';


        // J'ajoute cette nouvelle div à ma collection
        $('#collectionEquipement').append(newDiv);

    })
</script>


</body>
</html>