<header>
<div sec:authorize="isAuthenticated()">
    Utilisateur connecté :
    <th:block th:text="${#authentication.getPrincipal().username}"></th:block>
</div>

<a th:href="@{/reservations/new}" sec:authorize="isAuthenticated()">Faire une reservation</a>


<a sec:authorize="!isAuthenticated()" th:href="@{/login}">
    Me connecter
</a>

<form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
    <button type="submit">Me déconecter !</button>
</form>

</header>